@use '../utils/variables' as *;
@use '../utils/placeholders' as *;
@use '../utils/mixins' as *;

.page-header {
  position: sticky;
  top: 0;
  left: 0;
  height: 60px;
  background: $light-accent-color;

  border-bottom: 1px solid $light-accent-color;
  z-index: 100;

  &__container {
    @include flexCentered;
    justify-content: space-around;

    @media screen and (min-width: 1200px) {
      justify-content: space-between;
    }
  }
}

.page-header__logo {
  padding-top: 8px;
  padding-bottom: 2px;

  img {
    height: 40px;
    width: auto;

    @media screen and (min-width: 768px) {
      height: 44px;
    }

    @media screen and (min-width: 1200px) {
      height: 52px;
    }
  }
}

//  Mobile menu  - start

@media screen and (max-width: 800px) {
  .menu-button {
    border: none;
    background-color: $light-accent-color;
    z-index: 2;
    cursor: pointer;

    &.is-open {
      position: absolute;
      top: 10px;
      right: 15px;
    }

    &__icon-cross {
      display: none;
    }

    &.is-open &__icon-cross {
      display: block;

      &:hover {
        fill: $dark-accent-color;
      }
    }

    &.is-open &__icon-burger {
      display: none;
    }
  }

  .menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 48px 40px;
    background-color: $primary-white-color;
    flex-direction: column;
    align-items: flex-start;

    &.is-open {
      display: flex;
    }

    .main-nav__list {
      flex-direction: column;
      margin-bottom: 50px;
    }
  }

  .page-header__container {
    justify-content: space-between;
  }
}

@media screen and (min-width: 801px) {
  .page-header .menu-button {
    display: none;
  }

  .menu-container {
    display: flex !important;
    @include flexCentered;
  }
}

//   Mobile menu  - end

.main-nav__list {
  @extend %list;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 200px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 12px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {}
}

.main-nav__item {
  position: relative;
}

.main-nav__link {
  @extend %link;

  color: $secondary-text-color;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $dark-accent-color;

  @media screen and (min-width: 768px) {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }

  @media screen and (min-width: 1140px) {
    font-size: 20px;
  }



  &:hover,
  &:focus {
    text-decoration: underline;
  }
}


.lang-switch {
  display: inline-flex;
  margin-left: 12px;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid $primary-white-color;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  font-size: 0.875rem;
  background-color: $light-accent-color;

  button {
    flex: 1;
    padding: 6px 12px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    color: $secondary-text-color;

    &:hover,
    &:focus {
      background-color: $light-accent-color;
      color: $primary-white-color;
    }

    &.active {
      background-color: $primary-white-color;
      color: $light-accent-color;
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  }
}


.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media screen and (max-width: 767.5px) {
    justify-content: space-between;
  }
}