@use '../utils/variables' as *;

.hero-section {
  position: relative;
  background-color: $light-accent-color;
  overflow: hidden;

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .hero-section__content {
    position: static;
    top: auto;
    left: auto;
    transform: none;
    color: $primary-text-color;
    padding: 1rem 1.5rem;
    z-index: 2;
    width: 100%;
    max-width: 90%;
    text-align: center;
    margin: 0 auto 1.5rem;

    .hero-section__title {
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 0.5rem;
    }

    .hero-section__subtitle {
      font-family: "Manrope", sans-serif;
      font-size: 0.9rem;
      line-height: 1.3;
    }

    @media (min-width: 480px) {
      width: 90%;

      .hero-section__title {
        font-size: 1.2rem;
      }

      .hero-section__subtitle {
        font-size: 1rem;
      }
    }

    @media (min-width: 768px) {
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(0, -50%);
      width: 50%;
      padding: 2rem;
      text-align: left;
      margin: 0;

      .hero-section__title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      .hero-section__subtitle {
        font-size: 1rem;
      }
    }

    @media (min-width: 1440px) {
      left: 10%;
      padding: 2.5rem;
    }

    @media (min-width: 1920px) {
      width: 40%;
      left: 10%;
      padding: 3rem;

      .hero-section__title {
        font-size: 2.4rem;
      }

      .hero-section__subtitle {
        font-size: 1.4rem;
      }
    }
  }

  .hero-section__image-wrapper {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    flex-shrink: 0;
    z-index: 1;

    width: 100%;

    @media (min-width: 480px) and (max-width: 767px) {
      width: 480px;
    }


    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: contain;
      transition: transform 0.5s ease;
    }

    &:hover img {
      transform: scale(1.03);
    }

    @media (min-width: 768px) {
      img {
        border-radius: 0;
      }
    }
  }
}