@use '../utils/variables' as *;

:root {
  color-scheme: light;
  background-color: #fff;
  color: #000;
  filter: none !important;
}

body {
  color: $primary-text-color;
  background-color: $primary-bg-color;
  font-family: 'Manrope', 'Arial', sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  box-sizing: border-box;
  line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Spectral", "Georgia", serif;
  font-weight: 300;
  line-height: 1;
  font-style: italic;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  scroll-margin-top: 60px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}