
$primary-bg-color: #f6f8fa;
$secondary-bg-color: #e8f6fe;

$primary-text-color: #2B3147;
$secondary-text-color: #757575;

$light-accent-color: #d3dee4;   
$medium-accent-color: #add8fb;
$dark-accent-color: #2B3147;

$light-accent-color-transparent: rgba(211, 222, 228, 0.50);   


$primary-white-color: #ffffff;
$primary-black-color: #000000;

$transparent-white-color: rgba(255, 255, 255, 0.6);
$transparent-black-color: rgba(0, 0, 0, 0.2);


